html {
  height: 100%;
  width: 100%;
}

.background-img{
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
  height:100vh;
}

.h-center{
  text-align:center;
  color:white;
}

.h-left{
  color:white;
}